spring:
  profiles:
    active: dev
  application:
    name: user-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        username: nacos
        password: nacos
        namespace: dev-namespace-id
      config:
        server-addr: localhost:8848
        username: nacos
        password: nacos
        namespace: dev-namespace-id
        group: DEFAULT_GROUP


logging:
  level:
    com.alibaba.cloud.nacos: DEBUG